<app-navigation></app-navigation>
  <div class="container hero section-100">
    <div class="row">
        <div class="container-fluid">
            <div class="col-12 logo">
                <img class="logo-img" src="../../../assets/images/Kyle B Calderv1.svg" alt="Kyle B Calder">
            </div>
        </div>
        <div class="text-center">
            <div class="mb-5 pb-0 col-12">
                <h1 class="display-2 text-left">
                    &#8212; Hi, I'm a <strong>Software Developer,
                    Designer,</strong> and <strong>Outdoor
                    Enthusiast</strong> living in Northern Utah.
                </h1>
            </div>
            <div class="text-center">
                <h3 class="text-center mb-0 pb-0">Download my Resume</h3>
                <button type="button" class="btn btn-lg mt-4">Download</button>
            </div>
        </div>
    </div>
</div>

<section id="philosophy" class="section-percent">
  <!-- title -->
  <div class="row">
      <div class="col text-center">
          <h2 class="display-5 text-uppercase text-dark mb-3">My Philosophy</h2>
          <div class="title-underline"></div>
      </div>
  </div>
  <!-- end of title -->
  <div class="container-fluid">
      <div class="row d-flex align-items-center justify-content-center text-left">
          <div class="col-12 col-sm-12 col-lg-6 text-center">
              <img class="svg-border" src="../../../assets/images/pots-716579_1920.jpg" alt="">
          </div>
          <div class="col-12 col-sm-12 col-lg-4 philosophy-text">
              <div>
                  <h3>It’s my mission to make the world a more interesting place one website at a time.</h3>
              </div>
              <div>
                  <p class="text-right">If you have a dream that you would like to come true Let’s talk!</p>
              </div>
          </div>
      </div>
  </div>
</section>
<section id="process" class="section-percent">
  <!-- title -->
  <div class="row">
      <div class="col text-center">
          <h2 class="display-5 text-uppercase text-dark mb-3">My Process</h2>
          <div class="title-underline"></div>
      </div>
  </div>
  <!-- end of title-->
  <div class="container">
      <div class="row d-flex align-items-center text-center">
          <div class="col-12 col-sm-12 col-lg-6 text-center">
              <img class="svg-border-sm" src="../../../assets/images/paper.jpg" alt="">
          </div>
          <div class="col-12 col-sm-12 col-lg-6 text-left">
              <h3>Design</h3>
              <p>When I start on a project, I like to make sure that the design meets the end goal. If you don't
                  start
                  in the right position, then you can't end where you need to. I like to meet with clients and
                  fully
                  understand what their needs are so I can give them the best experience possible.
              </p>
          </div>
      </div>
      <div class="row d-flex align-items-center text-center flex-row-reverse">
          <div class="col-12 col-sm-12 col-lg-6 text-center">
              <img class="svg-border-sm" src="../../../assets/images/laptop.jpg" alt="">
          </div>
          <div class="col-12 col-sm-12 col-lg-6 text-left">
              <h3>Create</h3>
              <p>When creating a project I have extreme attention to detail. I know that I need to think of issues
                  that the client might see before they see them so that they don't have to worry about if the
                  project they're getting is going to be up to the standards they need.
              </p>
          </div>
      </div>
      <div class="row d-flex align-items-center text-center">
          <div class="col-12 col-sm-12 col-lg-6 text-center">
              <img class="svg-border-sm" src="../../../assets/images/ipad.jpg" alt="">
          </div>
          <div class="col-12 col-sm-12 col-lg-6 text-left">
              <h3>Complete</h3>
              <p>Knowing that you have someone who will see a project to completion is a really good feeling.
                  That's what I bring to every job I take. You will get what you pay for and even more.
              </p>
          </div>
      </div>
  </div>
</section>
<section id="tech" class="section-percent">
  <!-- title -->
  <div class="container-fluid">
      <div class="row">
          <div class="col text-center">
              <h2 class="display-5 text-uppercase text-dark mb-3">My Skills</h2>
              <div class="title-underline "></div>
          </div>
      </div>
      <!-- end of title-->
      <div class="container">
          <div class="row text-center d-flex flex-row  justify-content-evenly mt-5">
              <div class="col-12 col-sm-12 col-lg-4 mb-3">
                  <h4>HTML5</h4>
                  <div class="text-center">
                      <img class="svg-border-xs" src="../../../assets/images/html5.jpg" alt="html 5">
                  </div>
              </div>
              <div class="col-12 col-sm-12 col-lg-4 mb-3">
                  <h4>CSS3</h4>
                  <div class="text-center">
                      <img class="svg-border-xs" src="../../../assets/images/css3.jpg" alt="css 3">
                  </div>
              </div>
              <div class="col-12 col-sm-12 col-lg-4 mb-3">
                  <h4>SASS</h4>
                  <div class="text-center">
                      <img class="svg-border-xs" src="../../../assets/images/sass.png" alt="sass">
                  </div>
              </div>
          </div>
          <div class="text-center d-flex flex-row  justify-content-evenly mt-5">
              <div class="row">
                  <div class="col-12 col-sm-12 col-lg-4">
                      <h4>ANGULAR</h4>
                      <div class="text-center">
                          <img class="svg-border-xs" src="../../../assets/images/vue.jpg" alt="vue js">
                      </div>
                  </div>
                  <div class="col-12 col-sm-12 col-lg-4">
                      <h4>.NET/C#</h4>
                      <div class="text-center">
                          <img class="svg-border-xs" src="../../../assets/images/python.png.jpg" alt="python">
                      </div>
                  </div>
                  <div class="col-12 col-sm-12 col-lg-4">
                      <h4>JAVASCRIPT</h4>
                      <div class="text-center">
                          <img class="svg-border-xs" src="../../../assets/images/javascript.jpg" alt="javascript">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="row">
          <!-- title -->
          <div class="row">
              <div class="col text-center">
                  <h2 class="display-5 text-uppercase text-dark mb-3 mt-5">software I know</h2>
                  <div class="title-underline "></div>
              </div>
          </div>
      </div>
      <!-- end of title-->
      <div class="container">
          <div class="text-center d-flex flex-row justify-content-evenly mt-5">
              <div class="col-12 col-sm-12 col-lg-4">
                  <h4>ADOBE XD</h4>
                  <div class="text-center">
                      <img class="svg-border-xs" src="../../../assets/images/xd.png.jpg" alt="adobe xd">
                  </div>
              </div>
              <div class="col-12 col-sm-12 col-lg-4">
                  <h4>ADOBE PHOTOSHOP</h4>
                  <div class="text-center">
                      <img class="svg-border-xs" src="../../../assets/images/photoshop.png" alt="adobe photoshop">
                  </div>
              </div>
              <div class="col-12 col-sm-12 col-lg-4">
                  <h4>VISUAL STUDIO</h4>
                  <div class="text-center">
                      <img class="svg-border-xs" src="../../../assets/images/premiere.png" alt="adobe premiere">
                  </div>
              </div>
          </div>
          <div class="text-center d-flex flex-row justify-content-evenly mt-5">
              <div class="col-12 col-sm-12 col-lg-4 mx-auto">
                  <h4>VS CODE</h4>
                  <div class="text-center">
                      <img class="svg-border-xs" src="../../../assets/images/vscode.jpg" alt="vs code">
                  </div>
              </div>
              <div class="col-12 col-sm-12 col-lg-4 mx-auto">
                  <h4>JIRA</h4>
                  <div class="text-center">
                      <img class="svg-border-xs" src="../../../assets/images/jira.png" alt="jira">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section id="contact" class="section-percent">
  <div class="container">
      <div class="row">
          <!-- title -->
          <div class="row mb-5">
              <div class="col text-center">
                  <h2 class="display-5 text-uppercase text-dark mb-3">Have a project</h2>
                  <div class="title-underline"></div>
              </div>
          </div>
      </div>
      <!-- end of title-->
      <div class="row d-flex justify-content-center">
          <div class="card col-12 p-3 w-75 shadow py-5">
              <h3 class="card-title display-4 pt-3 ps-3">Contact me</h3>
              <div class="card-body">
                  <h5 class="card-title ps-3">Send me an email, add my number or add me as a contact in your phone.
                  </h5>
                  <div class="p-5 pb-0">
                      <label for="" class="col-form-label col-12 col-sm-12 col-md-2 col-lg-2">Email:</label>
                      <a href="mailto:kylebcalder03@gmail.com" target="_blank"><button
                              class="btn btn-lg col-12 col-sm-12 col-md-6 col-lg-4">kylebcalder03&#64;gmail.com</button></a>
                      <p></p>
                      <label for="" class="col-form-label col-12 col-sm-12 col-md-2 col-lg-2">Phone:</label>
                      <a href="tel:+801-663-4427"><button
                              class="btn btn-lg col-12 col-sm-12 col-md-6 col-lg-4">801-663-4427</button></a>
                      <p></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>
