<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-12 about-company">
                <h4 class="text-uppercase">Contact:</h4>
                <p class="pr-5 text-black-50">+801-663-4427<br>
                  kylebcalder03&#64;gmail.com</p>
            </div>
            <div class="col-lg-2 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3 text-uppercase">Site</h4>
                <ul class="m-0 p-0">
                    <li>- <a href="home">Home</a></li>
                    <li>- <a href="about">About</a></li>
                    <li>- <a href="projects">Projects</a></li>
                    <li>- <a href="contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-5 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4 text-uppercase">Resources</h4>
                <p></p>
            </div>
            <div class="col-lg-2">
                <h4 class="text-uppercase mt-sm-3 mt-lg-0">Social</h4>
                <div class="d-flex flex-column">
                    <a href=""><i class="fa fa-instagram text-black-50" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter text-black-50" aria-hidden="true"></i></a>
                    <a href="https://github.com/Rhysode03"><i class="fa fa-github text-black-50"
                            aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-black-50">© 2024. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>
